# https://github.com/Klipper3d/klipper/blob/master/config/sample-macros.cfg

######################################################################
# Own Vars
######################################################################

# https://www.klipper3d.org/Manual_Level.html#adjusting-bed-leveling-screws-using-the-bed-probe
[bed_screws]
screw1: 152, 165
screw1_name: center
screw2: 24, 35
screw2_name: front left screw
screw3: 274, 35
screw3_name: front right screw
screw4: 24, 295
screw4_name: rear right screw
screw5: 274, 295
screw5_name: rear left screw
horizontal_move_z: 10.
speed: 50.

[screws_tilt_adjust]
screw1: 152, 165
screw1_name: center
screw2: 24, 35
screw2_name: front left screw
screw3: 274, 35
screw3_name: front right screw
screw4: 24, 295
screw4_name: rear right screw
screw5: 274, 295
screw5_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

[gcode_macro BED_SCREWS_TILT]
gcode:
  G28
  {% set DEVIATION = params.DEVIATION|default(0.1) %}
  SCREWS_TILT_CALCULATE MAX_DEVIATION={DEVIATION}
  
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# SDCard 'looping' (aka Marlin M808 commands) support
# Support SDCard looping
######################################################################
[sdcard_loop]

# 'Marlin' style M808 compatibility macro for SDCard looping
[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}

######################################################################
# Cancel object (aka Marlin/RRF M486 commands) support
# Enable object exclusion
######################################################################
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

# [gcode_macro Z_TILT_ADJUST_INIT]
# https://klipper.discourse.group/t/z-tilt-adjust-store-z-adjustments/7329/3
# gcode:
#   {% set t0_temp = params.TEMPERATURE|default(40)|float %}

#   G28    
  ; M140 S[bed_temperature]
  ; M109 S[first_layer_temperature_0] T0
#   M140 S{t0_temp} ; Set bed temperature: M140 [S<temperature>]
#   M109 S{t0_temp} T0 ; Set extruder temperature and wait: M109 [T<index>] S<temperature>
#   Z_TILT_ADJUST                                             
#   G28 Z
    # BED_MESH_PROFILE LOAD=trex3
